html {
  overflow-y: auto !important;
  background: #000;
}

body {
  overflow: hidden;
  background: #000;
}

.v-application {
  overflow: hidden;
}

.v-content__wrap {
  height: 100vh;
}

main.v-content {
  height: 100vh !important;
  overflow: hidden;
}

.v-application {
  background: #000 !important;
}


.main-page {
  width: 100vw;
  height: 100vh;
  background: #000 !important;
}

$side-bar-width : 76px;
$app-bar-height : 120px;

.main-page-contents {
  position: absolute;
  z-index: 2;
  left: $side-bar-width;
  top: $app-bar-height;
  font-size: 32px;
  color: #fff;
  width: calc(100% - #{$side-bar-width});
  height: calc(100% - #{$app-bar-height });
  background: rgba(0, 0, 0, 0);

  .app-introduce {
    font-size: 36px;
    font-weight: 300;
    position: relative;
    top: calc(50% - 230px);
    padding: 0 80px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    b {
      font-size: 84px;
      font-weight: 600;
      letter-spacing: 0.1em;
    }
  }

  .version-copyright {
    position: absolute;
    right: 24px;
    bottom: 12px;
    font-size: 14px;
    text-align: right;
    font-weight: 400;
    opacity: 0.8;
  }
}

.front-cover {
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
}